
h1 {
    margin: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #e6e6fa;
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#searchResults {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #e6e6fa;
    opacity: 1;
    transition: background-color 0.5s ease;
}

header {
    background-color: #e6e6fa;
    color: white;
    padding: 10px;
    opacity: 1;
}

h1 {
    margin: 0;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
}

/* button {
    background-color: #e6e6fa;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
*/


  .hidden {
    display: none;
  }

